[submodule "vendor/submodules/libuv"]
	path = vendor/submodules/libuv
	url = https://github.com/libuv/libuv
[submodule "vendor/submodules/uvw"]
	path = vendor/submodules/uvw
	url = https://github.com/skypjack/uvw
[submodule "vendor/submodules/fmt"]
	path = vendor/submodules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/submodules/mbedtls"]
	path = vendor/submodules/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "vendor/submodules/nghttp2"]
	path = vendor/submodules/nghttp2
	url = https://github.com/nghttp2/nghttp2
[submodule "vendor/submodules/curl"]
	path = vendor/submodules/curl
	url = https://github.com/curl/curl
[submodule "vendor/submodules/cpr"]
	path = vendor/submodules/cpr
	url = https://github.com/libcpr/cpr
[submodule "vendor/submodules/json"]
	path = vendor/submodules/json
	url = https://github.com/nlohmann/json
[submodule "vendor/submodules/zlib"]
	path = vendor/submodules/zlib
	url = https://github.com/madler/zlib
